body {
  font-family: sans-serif;
  padding: 1em;
}

.TA-SearchResults {
  display: inherit;
}
.invisible {
  display: inherit;
  /* display: none; */
}

.ais-SearchBox {
  margin: 1em 0;
}

.ais-SearchBox-input {
  font-size: 3rem;
  border-radius: 10px;
  padding: 1rem 0.5rem;
  color: #292929;
}
@media screen and (max-width: 768px) {
  .ais-SearchBox-input {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 576px) {
  .ais-SearchBox-input {
    font-size: 1.1rem;
  }
}

.ais-SearchBox-submit {
  display: none;
}

.ais-SearchBox-reset {
  width: 35px;
  height: 35px;
  margin-right: 1rem;
}

.ais-SearchBox-resetIcon {
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 768px) {
  .ais-SearchBox-resetIcon {
    width: 15px;
    height: 15px;
  }
}

.ais-Pagination {
  margin-top: 1em;
}

.left-panel {
  float: left;
  width: 250px;
}

.right-panel {
  margin-left: 260px;
}

.ais-InstantSearch {
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 1em;
}

.ais-InfiniteHits-list {
  margin: 0px;
  justify-content: space-around;
}

.ais-InfiniteHits-item {
  margin: 0.5rem;
  padding: 0px;
  border: none;
  box-shadow: none;
  width: auto;
}

@media screen and (max-width: 768px) {
  .ais-InfiniteHits-item {
    margin: 10px 0;
  }
}

.ais-InfiniteHits-item img {
  margin-right: 1em;
}

.hit-name {
  margin-bottom: 0.5em;
}

.hit-pagetype {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 0.5em 1em;
  background: rgba(0, 0, 0, 0.5);
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
}

.hit-pagepublicationdate {
  padding: 0 0 10px 0;
  font-size: 12px;
  color: #303030;
}

.hit-title span {
  color: #4a4a4a;
  margin-bottom: 15px;
}

.hit-title span,
.hit-title .ais-Highlight-highlighted {
  font-size: 20px;
  font-weight: bold;
}

.hit-description {
  color: #4a4a4a;
  font-size: 14px;
  margin: 0.75em 0;
}

.ais-Highlight-highlighted,
.ais-Snippet-highlighted {
  background-color: #eb850d;
  color: #fff;
}

.ais-HierarchicalMenu-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.ais-InfiniteHits-loadMore {
  margin: 50px auto;
  display: block;
}
